header{
    margin-top: 10px;
    margin-left: 0px;
}

body {
    background: #ffffff;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #231f20;
}

.title {
    margin-top: 150px;
    margin-left: 450px;
    vertical-align: middle;
    text-align: left;
}

h2{
    font-size: 22px;
}

.job{
    font-style: italic;
}

.content{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: middle;
    text-align: left;
}

.links {
    font-size: 12px;
}

a {
    outline: none;
    color: #231f20;
    border-bottom: solid 1px;
    text-decoration: none;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 12px;
}


.column-wrapper {
    display: flex;
}

.text-column, .image-column {
  width: 50%;
  flex-direction: row;
  display: flex;
}

.image-column{
    float: right;
    width: 650px; 
    height: 650px; 
    border-radius: 50%; 
    overflow: hidden; 
}


@media (max-width: 960px) {
    .column-wrapper {
        display: flex;
    }
    
    .text-column, .image-column {
      width: 50%;
      flex-direction: row;
      display: flex;
    }

    .title{
        float: left;
        margin-left: 150px;
    }
    
    .image-column{
        float: right;
        width: 650px; 
        height: 650px; 
        border-radius: 50%; 
        overflow: hidden; 
    }
}


@media (max-width: 450px) {
    .column-wrapper {
        display: flex;
    }
    
    .text-column, .image-column {
      width: 50%;
      flex-direction: row;
      display: flex;
    }
    
    .title{
        float: left;
        margin-left: 0px;
    }

    .image-column{
        float: right;
        width: 650px; 
        height: 650px; 
        border-radius: 50%; 
        overflow: hidden; 
    }
}
